<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <!-- Título -->
  <header role="banner">
    <h1 id="title">Diego Fernández Suárez</h1>
  </header>

  <div class="container">
    <!-- Navegación -->
    <section id="item1" role="navigation" class="side-menu">
      <!-- Description -->
      <div>
        {% assign pitch = site.data.pitch.value %}
        <h2 id="pitch-welcome">{{ pitch.title | newline_to_br }}</h2>
        <p id="pitch-paragraph"> {{ pitch.text }}</p>
      </div>
      <ul class="navigation">
        {% for menu in site.data.navigation %}
        <li>
          <a id="{{ menu.id }}" href="{{ menu.url }}" class="navigation">{{ menu.title }}</a>
        </li>
        {% endfor %}
      </ul>

      <div>
        <h2 id="contact-title" class="subtle-center">How to reach out to me</h1>
          {% for item in site.data.contact %}
          <p id="{{ item.id }}">
            {{ item.title }}: <a href="{{ item.url }}">{{ item.text }}</a>
          </p>
          {% endfor %}
      </div>
    </section>

    <!-- Contenido -->
    <main id="item2">{{ content }}</main>
  </div>

  <!-- Contact info -->
  <footer role="contentinfo">
    <p class="center">{{ site.data.copyright.value}}</p>
  </footer>
</body>

</html>