<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <!-- Título -->
  <header role="banner">
    <h1 id="title">Diego Fernández Suárez</h1>
  </header>

  <!-- Navegación -->
  <section role="navigation">
    <ul class="navigation">
      {% for menu in site.data.navigation %}
      <li><a href="{{ menu.url }}" class="navigation">{{ menu.title }}</a></li>
      {% endfor %}
    </ul>
  </section>

  <!-- Contenido -->
  {{ content }}
  
  <!-- Contact info -->
  <footer role="contentinfo">
    <h1 id="contact-title" class="subtle-center">How to reach out to me</h1>
    <p id="contact-email" class="center">Email: <a href="mailto:diegofdezsrz12@gmail.com">diegofdezsrz12@gmail.com</a>
    </p>
    <p id="contact-linkedin" class="center">LinkedIn: <a
        href="https://www.linkedin.com/in/diego-fernandez-suarez">www.linkedin.com/in/diego-fernandez-suarez</a>
    </p>
    <p id="contact-github" class="center">GitHub: <a
        href="https://github.com/diegofs29">https://github.com/diegofs29</a></p>
  </footer>
</body>

</html>