/* Variables */
:root {
  /* Fondos y superficies */
  --white-primary: #FAFAFA; 
  --white-secondary: #F1F1F1;

  /* Colores de texto y elementos oscuros */
  --grey-primary: #343434;
  --grey-secondary: #777777;
  --grey-light: #B0B0B0;

  /* Acentos cálidos (tus naranjas) */
  --orange-primary: #F39C12;
  --orange-secondary: #E67E22;

  /* Acento complementario (tu azul) */
  --accent-primary: #1A5276;
  --accent-secondary: #5BA8D1;
}

/* Fuente */
body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

h1 {
  font-size: 4em;
}

/* Colores */
body {
  color: var(--grey-secondary);
  background-color: var(--white-primary)
}

h1 {
  color: var(--grey-primary);
}

a:link {
  color: var(--accent-secondary);
}

a:active {
  color: var(--accent-secondary);
}

a:hover {
  color: var(--accent-primary);
}

a:visited {
  color: var(--accent-primary);
}

/* Estilo */
body {
  margin: 0;
}

body > header {
  margin: 0;
  padding-top: 2%;
}

body > footer {
  margin: 0;
  padding-bottom: 2%;
}

h1 {
  margin-top: 0;
  text-align: center;
}

/* Clases */
div.space {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

h1.subtle-center {
  font-size: 2.4em;
}

h1.sutbtle {
  font-size: 2.4em;
  text-align: left;
}

p.center {
  text-align: center;
}

ul.space {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

li.dotless {
  list-style-type: none;
}

/* Clases artículo */
div.article-container {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

li.article-card {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--white-secondary);
  overflow: hidden;
  padding: 25px;
}

a.article {
  text-decoration: none;
}